@use "./variables" as *;

body {
  font-family: $fuente-texto;
  background-color: $rosa-suave;

  h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: $negro-texto;
    text-shadow: 4px 4px 5px $sombra-texto;
  }

  h3 {
    font-size: 2rem;
    text-decoration: underline;
    text-shadow: 4px 4px 5px $sombra-h3;
  }

  ul {
    font-size: 2.5rem;
    text-align: center;
    color: $negro-texto;
    text-decoration: solid;
    margin: 0 20px;

    li {
      list-style: none;
    }
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: $negro-texto;
    text-shadow: 0px -6px 8px rgba(238, 223, 223, 1);
  }

  iframe {
    width: 90%;
    height: 450px;
    display: block;
    margin: 0 auto;
    border: none;
  }

  input::placeholder,
  textarea::placeholder {
    text-align: center;
    font-size: 1.2rem;
    padding-top: 5px;
  }
  //estilos para botones----------------------
  .btn-lucy {
    background-color: $violeta-btn;
    border-color: $rosa-claro-borde;
    color: white;

    &:hover {
      background-color: $violeta-hover;
      border-color: $rosa-claro-hover;
    }
  }

  .btn-primary:active {
    animation: pulse 0.3s ease;
  }
 //animacion para boton----------------------
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
  }
}
