@use "./variables" as *;
@use "./mixinExtend" as *;
main {
  margin: 20px 0;
  padding: 20px 0;
  background: url(../img/fondonuevo.jpg) center/cover fixed no-repeat;
  max-width: 100%;
}

//seccion principal-----------------
.principal {
 
  background: center/cover fixed no-repeat;
   background-color: $rosa-suave;
  display: grid;
  grid-template-areas:
    "titulo titulo titulo"
    "h2 h2 fotohome"
    "parrafo parrafo fotohome";
  grid-template-columns: 25% 25% 30%;
  grid-template-rows: auto auto auto;
  justify-items: center;
  align-items: center;
  justify-content: center;

  .titulo {
    @extend .titulo-base;
    grid-area: titulo;
    font-size: 2.5rem;
  }

  .h2 {
    @extend .titulo-base;
    grid-area: h2;
    font-size: 2rem;
  }

  .parrafo {
    @extend .parrafo-base;
    grid-area: parrafo;
    margin: 0 20px;
  }

  .fotohome {
    grid-area: fotohome;
    display: block;

    img {
      @include sombra-borde(10px, $sombra-texto);
      max-width: 100%;
      height: auto;
      display: block;
    }
  }
}

//productos-----------------
.productos {
  display: grid;
  grid-template-columns: 1fr 1fr;

  h2 {
    color: $texto-secundario;
  }

  .producto {
    @extend .tarjeta-base;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 500px;
    box-shadow: 18px 17px 5px 0px rgba(0, 0, 0, 0.74);

    p {
      text-align: center;
      font-size: 1.6rem;
      color: $negro-texto;
      margin: 0 20px;
    }

    .imgProducto {
      @include sombra-borde(10px, $sombra-texto);
      display: block;
      width: 100%;
      height: 400px;
      object-fit: cover;
    }

    .precio {
      color: $texto-secundario;
      text-align: center;
      font-weight: bold;
      font-size: 2rem;
    }
  }
}

//contacto-----------------
.contacto {
  @include centrado-flex;
  background-color: $rosa-suave;
  flex-direction: column;
  text-align: center;
  padding: 10px 20px;
  font-size: 1.5rem;

  .formulario {
    @include centrado-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 20px;

    button {
      margin-top: 12px;
    }
  }
  .mapa {
    @include centrado-flex;
    flex-direction: column;
    width: 80%;
  }
}

//sobre nosotros-----------------
.sobreNosotros {
  background-color: $rosa-suave;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "titulos titulos"
    "parrafo1 foto"
    "parrafo2 parrafo2";
  gap: 20px;
  padding: 20px;

  .titulos {
    grid-area: titulos;
  }

  .parrafo1 {
    @extend .parrafo-base;
    grid-area: parrafo1;
    margin: 20px 20px;
  }

  .parrafo2 {
    @extend .parrafo-base;
    grid-area: parrafo2;
    margin: 0 20px;
  }

  .fotoNosotros {
    @include centrado-flex;
    grid-area: foto;
    max-width: 100%;
    height: auto;

    img {
      @include sombra-borde(10px, $sombra-texto);
      max-width: 80%;
      height: auto;
      object-fit: cover;
    }
  }
}

//cuidado de tus velas-----------------
.cuidadodetusvelas {
  background-color: $rosa-suave;
}

