@use "./variables" as *;
/* Mobile y tablet hasta 978px */
@media (max-width: 978px) and (min-width: 320px) {
  input,
  textarea {
    width: 100% !important;
    box-sizing: border-box;
  }

  .formulario {
    display: flex;
    flex-direction: column !important;
    align-items: stretch !important;
    justify-content: center;
    gap: 20px;
  }

   //home y nosotros
  .principal {
    display: grid;
    grid-template-areas:
      "titulo"
      "h2"
      "parrafo";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    justify-items: center;
    align-items: center;
    padding: 20px;
    background-color: $rosa-suave;
  }

  .fotohome,
  .fotoNosotros {
    display: none !important;
  }

  .productos {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .producto {
      margin: 10px auto;
      width: 90%;
    }
  }

  .sobreNosotros {
    display: grid;
    grid-template-areas:
      "titulos"
      "parrafo1"
      "parrafo2";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
    padding: 20px;
  }

  .parrafo1,
  .parrafo2 {
    font-size: 1rem;
  }

  iframe {
    width: 80%;
    height: 300px;
    margin: 0 auto;
  }

  h1, h2, ul {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
