//fonts

$fuente-titulo: "Playfair Display", serif;
$fuente-texto: "Open Sans", sans-serif;

// Colores base
$rosa-suave: #f4dbd8;

$gris-borde: #dcdcdc;
$negro-texto: #333333;
$blanco: #ffffff;

// Sombra
$sombra-suave: rgba(0, 0, 0, 0.1);

