//fonts

$fuente-titulo: "Playfair Display", serif;
$fuente-texto: "Open Sans", sans-serif;

//Colores base
$rosa-suave: #BEA8A7;
$rosa-borde: #C09891;
$violeta-btn: #7e4a9e;
$violeta-hover: #392247;
$rosa-claro-hover: #c78c99;
$rosa-claro-borde: #d8a7b1;
$negro-texto:black;
$texto-secundario: #2A0800;
//sombras
$sombra-texto: rgba(0, 0, 0, 0.77);
$sombra-h3: rgba(24, 22, 22, 0.77);

